<!-- change_password.html -->
{% extends "base.html" %}

{% block title %}Cambiar contraseña{% endblock %}

{% block extra_css %}
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-nav">
                    <a class="nav-link" href="/config">Configuración</a>
                </div>
                <span class="navbar-text">Bienvenido, {{ admin_nickname }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>
{% endblock %}

{% block main %}
<div class="col-md-6 offset-md-3">
    <!-- Formulario de cambio de contraseña -->
    <form id="changePasswordForm" action="{{ url_for('auth.change_password') }}" method="post" onsubmit="checkPasswordMatch();" class="card card-body text-white" style="background-color: #202020;">
        <label for="oldPassword">Contraseña Anterior</label>
        <input type="password" name="oldPassword" id="oldPassword" placeholder="Contraseña Anterior" class="form-control mb-2" required>
        
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" name="newPassword" id="newPassword" placeholder="Nueva Contraseña" class="form-control mb-2" required>
        
        <label for="confirmPassword">Confirmar Nueva Contraseña</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Nueva Contraseña" oninput="checkPasswordMatch();" class="form-control mb-2" required>
        
        <div class="d-flex">
            <button class="btn btn-primary flex-grow-1 mr-2">Cambiar contraseña</button>
            <a href="/dashboard" class="btn btn-secondary">Volver al panel de control</a>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function checkPasswordMatch() {
            var newPassword = document.getElementById("newPassword");
            var confirmPassword = document.getElementById("confirmPassword");
            if (newPassword.value !== confirmPassword.value) {
                confirmPassword.setCustomValidity("Las contraseñas no coinciden");
            } else {
                confirmPassword.setCustomValidity("");
            }
        }
        
        sessionStorage.setItem('admin_id', '{{ session["admin_id"] }}');
        sessionStorage.setItem('admin_nickname', '{{ session["admin_nickname"] }}');
    </script>
{% endblock %}
