<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenido, <span class="text-primary">{{ user.nickname }}</span></h1>
    <h2 class="text-center mb-4">Tu ID es: <span class="text-secondary">{{ user.id }}</span></h2>
    <div class="d-flex justify-content-center">
        <a class="btn btn-warning mr-2" id="logout-button">Cerrar sesión</a>
        <a class="btn btn-danger" href="{{ url_for('auth.delete_account') }}">Eliminar cuenta</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
