<!-- dashboard.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Bienvenido, <span class="text-primary">{{ user.nickname }}</span></h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Tu ID es: <span class="text-info">{{ user.id }}</span></h5>
                    <div class="d-flex justify-content-center mt-4">
                        <a class="btn btn-danger mr-2" id="logout-button">Cerrar sesión</a>
                        <a class="btn btn-warning" href="{{ url_for('auth.delete_account') }}">Eliminar cuenta</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
