<!-- dashboard.html -->
{% extends "base.html" %}

{% block title %}{{ admin_nickname }}{% endblock %}

{% block extra_css %}
    <!-- Fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="sticky-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-nav">
                    <a class="nav-link" href="/config">Configuración</a>
                </div>
                <span class="navbar-text">Bienvenido, {{ admin_nickname }}</span>
                <div class="navbar-nav">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </div>
            </div>
        </nav>        
    </header>
{% endblock %}

{% block main %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        sessionStorage.setItem('admin_id', '{{ session["admin_id"] }}');
        sessionStorage.setItem('admin_nickname', '{{ session["admin_nickname"] }}');
    </script>
{% endblock %}
