<!-- delete_account.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="button-container">
        <p>¿Cambiaste de opinión? <a class="button common-button" href="{{ url_for('dashboard') }}">Volver al panel de control</a></p>
    </div>
    <h1>Eliminar cuenta</h1>
    <p>Por favor, confirma tu contraseña para proceder con la eliminación de la cuenta. Esta acción no se puede deshacer.</p>
    <form id="delete-form" action="{{ url_for('auth.delete_account') }}" method="post">
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>        
        <div class="button-container">
            <button type="submit" class="button common-button">Confirmar eliminación</button>
        </div>
    </form>
</div>
{% endblock %}
