<!-- delete_account.html -->
{% extends 'base.html' %}

{% block content %}
<form id="delete-form" action="{{ url_for('auth.delete_account') }}" method="post">
    <div>
        <label for="password">Confirma tu contraseña para eliminar la cuenta:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Eliminar cuenta</button>
</form>
<p>¿Cambiaste de opinión? <a href="{{ url_for('dashboard') }}">Volver al panel de control</a></p>
{% endblock %}
