<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Bienvenido a nuestra aplicación Flask</h1>
    <p class="text-center">Por favor, selecciona una opción:</p>
    <div class="d-flex justify-content-center">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary mr-2">Iniciar sesión</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-secondary">Registrarse</a>
    </div>
</div>
{% endblock %}
